<!doctype html>
<html lang="en">
  <head>
  	<title>Caono | Cards</title>

            <link rel="icon"
          type="image/x-icon"
          href="/img/Favicon_circle_16.png">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- This is where you put your google font in if applicable -->
<!--     <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet"> -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

   <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>
    
    <div class="d-flex">
      <nav id="sidebar">
        <div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="toggle-btn">
              <span class="sr-only">Toggle Menu</span>
                    <div id="nav-icon1" >
                <span></span>
                <span></span>
                <span></span>
              </div>
               </button>
          </div>
          
          
          
        <div class="p-4 pt-6">
        <div class="logo">
          <a href="../index.html"><img alt="Caono Logo" src="../img/Caono-Alabaster.png" width="100%" /></a>
        </div>

            
            
	       <ul class="list-unstyled components">

            <li>
              <a href="../index.html">Design Homepage</a>
            </li>

	     
	          <li>
	            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Foundations</a>
	            
			            <ul class="collapse list-unstyled" id="homeSubmenu">
		                <li>
		                    <a href="../foundation/type.html">Typography</a>
		                </li>
		                <li>
		                    <a href="../foundation/color.html">Color</a>
		                </li>
		                <li>
		                    <a href="../foundation/logo.html">Logo</a>
		                </li>
			            </ul>
	          </li>
	          
	          <li class="active">
              <a href="#ComponentsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Components</a>
              <ul class="collapse.show list-unstyled" id="ComponentsSubmenu">
               <li>
                    <a href="buttons.html">Buttons</a>
                </li>
                <li class="active">
                    <a href="#">Cards</a>
                </li>
                <li>
                    <a href="navbar.html">Navbar</a>
                </li>
              </ul>
	          </li>
               
              
             <li>
                <a href="/index.html">Back to Portfolio</a>
            </li>
	         
	         
	        </ul> 

	      


	      </div>
    	</nav>

        <!-- Page Content  -->
      <div class = "container">
          <div class = "row p-5 pt-6">
            <div id="content">

              <h1>Cards</h1>
              <p>I decided to do something different here and played around with neumophism for the cards. When the cursor hovers over the cards, they expand and pop up. While they are being clicked, they depress and appear to sink into the background.</p>
    		  <br>



          <div class="row row-cols-1 row-cols-md-3 g-4">
              
              
            <div class="col">
              <div class="card-neo h-100">
                <div class="p-4">
                  <img src="/img/placeholder.jpg" class="card-img-top" alt="image placeholder">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Project 1</h5>
                  <p class="card-text">Arcu non sodales neque sodales ut etiam sit amet. Mi proin sed libero enim sed faucibus turpis. Pretium nibh ipsum consequat nisl vel pretium lectus quam. </p>
                  
                </div>
              </div>
            </div>           


              <div class="col">
              <div class="card-neo h-100">
                <div class="p-4">
                  <img src="/img/placeholder.jpg" class="card-img-top" alt="image placeholder">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Project 2</h5>
                  <p class="card-text">Arcu non sodales neque sodales ut etiam sit amet. Mi proin sed libero enim sed faucibus turpis. Pretium nibh ipsum consequat nisl vel pretium lectus quam. </p>
                  
                </div>
              </div>
            </div>        
              
              
              <div class="col">
              <div class="card-neo h-100">
                <div class="p-4">
                  <img src="/img/placeholder.jpg" class="card-img-top" alt="image placeholder">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Project 3</h5>
                  <p class="card-text">Arcu non sodales neque sodales ut etiam sit amet. Mi proin sed libero enim sed faucibus turpis. Pretium nibh ipsum consequat nisl vel pretium lectus quam. </p>
                  
                </div>
              </div>
            </div>        
              
          </div> <br>
                
               <h2>Accessibility Considerations</h2>
          <p>Neomorphism is tricky when it comes to accessibility due to contrast issues which can occur through the design. I attempted to mitigate this by using a dark shadow instead of a light one in order to make the cards pop out more from the background. I used the <a href="https://uxpro.cc/toolbox/nocoffee/" target="_blank">No Coffee Vision Simulator</a> browser plugin to test out how the cards might look to users with many different types of visual impairments (ex: low contrast, color deficiencies, etc). Tests with this tool show that these neomorphic cards passed for those with vision impairments.</p>
            <br> <br>

          <h2>Use Cases</h2>
          <ul>
            <li>Primary use is to highlight projects on the homepage.</li>
            <li>Can also be used for the "Projects" page. Grid view.</li>
            <li>Potential use for YouTube video backgrounds.</li>
          </ul>
            <br> <br>

          <h2>CSS Code Examples</h2> <br>
          <h4>Primary State</h4>
          <pre><code>.card-neo {
            border-radius: 26px;
            background: #EEEAE2;
            box-shadow:  8px 8px 13px #706e6a,
                         -8px -8px 13px #ffffff;
            }</code></pre>

            

          <h4>Hover State</h4>
          <pre><code>.card-neo:hover {
            border-radius: 26px;
            background: linear-gradient(145deg, #fffaf2, #d6d3cb);
            box-shadow:  8px 8px 13px #706e6a,
                         -8px -8px 13px #ffffff;
            }</code></pre>

          <h4>Active State</h4>
          <pre><code>.card-neo:active {
            border-radius: 26px;
            background: #EEEAE2;
            box-shadow: inset 8px 8px 13px #706e6a,
                        inset -8px -8px 13px #ffffff;
            }</code></pre> 
                
                


    
        </div>      <!-- Content  -->
      </div><!-- Row  -->
    </div><!-- Container -->
</div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>