<!doctype html>
<html lang="en">
  <head>
  	<title>Caono | Buttons</title>
      
            <link rel="icon"
          type="image/x-icon"
          href="../img/Favicon_circle_16.png">
      
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- This is where you put your google font in if applicable -->
<!--     <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

<!-- This is the link to the toggle hamburger -->
	 <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/style.css">
  <link  rel="stylesheet"  href="../css/prism.css"/>

  </head>
  <body>
    
    <div class="d-flex">
      <nav id="sidebar">
        <div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="toggle-btn">
              <span class="sr-only">Toggle Menu</span>
                    <div id="nav-icon1" >
                <span></span>
                <span></span>
                <span></span>
              </div>
               </button>
          </div>

          
        <div class="p-4 pt-6">
        <div class="logo">
          <a href="../index.html"><img alt="Caono Logo" src="../img/Caono-Alabaster.png" width="100%" /></a>
        </div>
          
          

	       <ul class="list-unstyled components">
	     
	          <li>
	            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Foundations</a>
	            
			            <ul class="collapse list-unstyled" id="homeSubmenu">
		                <li>
		                    <a href="../foundation/type.html">Typography</a>
		                </li>
		                <li>
		                    <a href="../foundation/color.html">Color</a>
		                </li>
		                <li>
		                    <a href="../foundation/logo.html">Logo</a>
		                </li>
			            </ul>
	          </li>
	          
	          <li class="active">
              <a href="#ComponentsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Components</a>
              <ul class="collapse.show list-unstyled" id="ComponentsSubmenu">
               <li class="active">
                    <a href="#">Buttons</a>
                </li>
                <li>
                    <a href="cards.html">Cards</a>
                </li>
                <li>
                    <a href="navbar.html">Navbar</a>
                </li>
              </ul>
	          </li>
               
               
              <li>
              <a href="#PortfolioSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Portfolio</a>
              <ul class="collapse list-unstyled" id="PortfolioSubmenu">
                <!--<li>
                    <a href="../portfolio/resume.html">Resumé</a>
                </li>-->
                <li>
                    <a href="portfolio/projects.html">Projects</a>
                </li>
               
              </ul>
	          </li>
	         
	         
	        </ul> 

	      


	      </div>
    	</nav>

        <!-- Page Content  -->
        <div class="container">
      <div class="row p-5 pt-6">
        <div class="btn-container"
             id="content">

          <h1>Buttons</h1>
          <p>This design system includes one primary button, one hover style, and one disabled button.</p>
            <br>



          <h2 class="mb-4">Button States</h2> <br>
            
            
          <div class="row mb-4">
            <div class="col-3">
              <h3>Normal</h3>
            </div>
            <div class="col-3"><button class="btn btn-primary btn-active">BUTTON</button></div>

          </div>
            
            
          <div class="row mb-4">
            <div class="col-3">
              <h3>Hover</h3>
            </div>
            <div class="col-3"><button class="btn btn-primary btn-hover">BUTTON</button></div>

          </div>
          
            
          <div class="row mb-4">
            <div class="col-3">
              <h3>Disabled</h3>
            </div>
            <div class="col-3"><button disabled class="btn btn-primary">BUTTON</button></div>
          </div>

          <h2>Accessibility Considerations</h2>
          <p>Buttons are only used for performing an action on the current page (ex: form submissions). All three styles of buttons meet color contrast standards as verified using the <a href="https://webaim.org/resources/contrastchecker/?fcolor=E1B347&bcolor=0C0C38" target="_blank">WebAIM Contrast Checker</a>. Proper HTML tags are used so that screen readers can differentiate between active, hover, and disabled button states.</p>
            <br> <br>

          <h2>Use Cases</h2>
          <ul>
            <li>Primary use is for navigating within a page.</li>
            <li>Submission Forms</li>
            <li>Will <i>not</i> be used for external links.</li>
            <li>Contain text that is clear and concise.</li>
          </ul>
            <br> <br>

          <h2>Code Examples</h2> <br>
          <h4>Primary Button</h4>
          <pre><code>&lt;button class=&quot;btn btn-primary&quot;&gt;Descriptive text&lt;/button&gt;</code></pre>

            

          <h4>Hover Button</h4>
          <pre><code>&lt;button class=&quot;btn btn-hover&quot;&gt;Descriptive text&lt;/button&gt;</code></pre>

          <h4>Disabled Button</h4>
          <pre><code>&lt;button class=&quot;btn btn-disabled&quot;&gt;Descriptive text&lt;/button&gt;</code></pre>

        </div> <!-- Content  -->
      </div><!-- Row  -->
    </div><!-- Container -->
        
        
        
        
        
</div>
      <script src="../js/prism.js"></script> 
    <script src="../js/jquery.min.js"></script>
    <script src="../js/popper.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
  </body>
</html>